$consolas: "Consolas", "Arial", sans-serif;
$segoe: "SegoeUI", "Arial", sans-serif;
$arial: "Arial", sans-serif;
$merriweather: "Merriweather", "Arial", sans-serif;

$white-color: #ffffff;
$moose-color: #c56d29;

